<html lang="en">
    <%- include('./partials/head.ejs')%>
    <body>
        <div class="flex font-[family-name:var(--font-geist-sans)] items-center flex-col h-screen w-screen  bg-gradient-to-t from-blue-100/20 dark:from-blue-900/5">
            <svg aria-hidden="true" class="pointer-events-none [z-index:-1] absolute inset-0 h-full w-full fill-blue-500/50 stroke-blue-500/50 [mask-image:linear-gradient(to_top,_#ffffffad,_transparent)] opacity-[.30]" style="visibility: visible;">
                <defs>
                    <pattern id=":Rs57qbt6ja:" width="20" height="20" patternUnits="userSpaceOnUse" x="-1" y="-1">
                        <path d="M.5 20V.5H20" fill="none" stroke-dasharray="0"></path>
                    </pattern>
                </defs>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#:Rs57qbt6ja:)"></rect>
            </svg>
            <div id="dialog_background"></div>
            <div class="md:w-[500px] w-[90vw] flex items-center rounded-none h-screen shadow-none border-x-[1px] border-dashed border-x-[var(--primary-01)]">
                <div id="card" class="border bg-card text-card-foreground shadow w-full rounded-none shadow-none border-y-[1px] border-dashed border-y-[var(--primary-01)]">
                    <div id="card-header" class="flex flex-col space-y-1.5 p-6 max-md:py-6 max-md:px-3">
                        <div id="card-title" class="font-semibold leading-none tracking-tight text-3xl font-semibold text-[var(--primary-01)]">Opensource contribution 🎉</div>
                        <div id="card-description" class="text-sm text-muted-foreground">Sponsor our opensource projects with your donations 🙏</div>
                    </div>
                    <form id="submit_form" id="card-content submit_form" class="flex flex-col items-center">
                        <p class="text-red-500 text-sm text-center md:w-full w-[80%]" id="error"></p>
                        <div class="flex flex-col p-6 max-md:py-6 max-md:px-3 gap-4 w-full">
                            <div class="flex flex-col space-y-1.5">
                                <label for="phone_number" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[var(--primary-01)] font-semibold">Enter Mpesa number</label>
                                <input id="phone_number" name="phone_number" type="text" placeholder="0703720753" class="flex h-9 rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm border-[var(--primary-01)] outline-[1px] active:outline-[var(--primary-01)] focus:border-[var(--primary-01)] outline-[var(--primary-01)]" required/>
                            </div>
                            <div class="flex flex-col space-y-1.5">
                                <label for="amount" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[var(--primary-01)] font-semibold">Amount</label>
                                <input id="amount" name="amount" type="number" placeholder="any amount is appreciated" class="flex h-9 rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm border-[var(--primary-01)] outline-[1px] active:outline-[var(--primary-01)] focus:border-[var(--primary-01)] outline-[var(--primary-01)]" required/>
                            </div>
                            <div id="submit_btn"></div>
                            
                            <div class="flex flex-wrap gap-2 text-gray-600 items-center justify-center md:text-sm text-xs">
                                <a href="https://github.com/imrany?tab=repositories" class="flex items-center gap-[1px] hover:text-[var(--primary-01)]" rel="noopenner noreferrer" target="_blank">
                                    <span>Github </span>
                                    <span class="material-symbols-outlined text-sm">open_in_new</span>
                                </a>
                                <a href="https://x.com/matano_imran" class="flex items-center gap-[1px] hover:text-[var(--primary-01)]" rel="noopenner noreferrer" target="_blank">
                                    <span>Twitter </span>
                                    <span class="material-symbols-outlined text-sm">open_in_new</span>
                                </a>
                                <a href="https://instagram.com/its_imrany" class="flex items-center gap-[1px] hover:text-[var(--primary-01)]" rel="noopenner noreferrer" target="_blank">
                                    <span>Instagram </span>
                                    <span class="material-symbols-outlined text-sm">open_in_new</span>
                                </a>
                                <a href="https://www.youtube.com/@software_dev_ke" class="flex items-center gap-[1px] hover:text-[var(--primary-01)]" rel="noopenner noreferrer" target="_blank">
                                    <span>Youtube </span>
                                    <span class="material-symbols-outlined text-sm">open_in_new</span>
                                </a>
                                <a href="https://www.reddit.com/user/Malliant_basement" class="flex items-center gap-[1px] hover:text-[var(--primary-01)]" rel="noopenner noreferrer" target="_blank">
                                    <span>Reddit </span>
                                    <span class="material-symbols-outlined text-sm">open_in_new</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let submit_form=document.getElementById("submit_form");
            let submit_btn=document.getElementById("submit_btn")
            let error_text=document.getElementById("error")
            let dialog_background=document.getElementById("dialog_background")

            let appreciation_dialog=`
            <div id="dialog_appreciation" class="fixed z-50 top-0 bg-gradient-to-t from-green-400 dark:from-green bottom-0 left-0 right-0">
                <div class="flex w-screen h-screen items-center justify-center">
                    <div class="border bg-card bg-white text-center rounded-xl gap-y-4 md:h-[300px] justify-center max-md:h-[300px] md:w-[500px] max-md:w-[90vw] flex flex-col items-center text-card-foreground shadow rounded-none">
                        <p class="md:text-3xl text-2xl font-semibold">Appreciation 🎉</p>
                        <div class="text-center">
                            <p>You are now a sponsor, thank you.</p> 
                            <p class="text-sm text-center flex justify-center gap-1">
                                <span>Access our projects on </span>
                                <a href="https://github.com/imrany?tab=repositories" class="flex items-center gap-1 underline text-[var(--primary-01)]" rel="noopenner noreferrer" target="_blank">
                                    <span>github </span>
                                    <span class="material-symbols-outlined text-sm">open_in_new</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            `

            let notDisabled=`
            <button type="submit" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 h-[40px] w-full bg-primary text-white shadow hover:bg-primary/90 bg-[var(--primary-01)] hover:bg-[var(--primary-01)]">
                <p>Submit 🚀</p>
            </button>
            `
            let disabled=`
            <button disabled class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-gray-400 text-black shadow-sm hover:bg-accent hover:text-accent-foreground h-[40px] w-full">
                <p>Sending stk push, check your phone...</p>
            </button>
            `
            let processing=`
            <button disabled class="inline-flex items-center justify-center gap-1 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-gray-400 text-black shadow-sm hover:bg-accent hover:text-accent-foreground h-[40px] w-full">
                <svg class="spinner text-base" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000">
                    <path d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z"/>
                </svg>
                <p>Processing</p>
            </button>
            `
            let checkPaymentRef=`
            <button disabled class="inline-flex items-center justify-center gap-1 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-gray-400 text-black shadow-sm hover:bg-accent hover:text-accent-foreground h-[40px] w-full">
                <svg class="spinner text-base" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000">
                    <path d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z"/>
                </svg>
                <p>Checking payment</p>
            </button>
            `
            let tryAgain=`
            <button type="submit" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 h-[40px] w-full bg-primary text-white shadow hover:bg-primary/90 bg-[var(--primary-01)] hover:bg-[var(--primary-01)]">
                <p>Please try again</p>
            </button>
            `

            submit_btn.innerHTML=notDisabled

            submit_form.addEventListener("submit",async(e)=>{
                try {
                    e.preventDefault();
                    error.innerText=""
                    submit_btn.innerHTML=processing
                    const url=`/api/contribute`
                    const response=await fetch(url,{
                        method:"POST",
                        headers:{
                            "content-type":"application/json"
                        },
                        body:JSON.stringify({
                            phone_number:e.target.phone_number.value,
                            amount:e.target.amount.value
                        })
                    })
                    const parseRes=await response.json()
                    if(parseRes.error){
                        submit_btn.innerHTML=notDisabled
                        error.innerText=parseRes.error
                    }else{
                        console.log(parseRes)
                        if(parseRes.response.data.success==true){
                            submit_btn.innerHTML=disabled
                            setTimeout(()=>{
                                checkPayment(parseRes.response.external_reference,e)
                            },50 *1000)
                        }else{
                            error.innerText="Cancelled"
                            submit_btn.innerHTML=notDisabled
                        }
                    }
                } catch (error) {
                    submit_btn.innerHTML=notDisabled
                    console.log(error.message)
                    error.innerText=error.message
                }
            })

            async function checkPayment(external_reference,e) {
                try {
                    const response=await fetch(`/api/contributions/${external_reference}`)
                    const parseRes=await response.json()
                    if(parseRes.error){
                        submit_btn.innerHTML=notDisabled
                        console.log(parseRes.error)
                        error.innerText=parseRes.error
                    }else{
                        console.log(parseRes)
                        if(parseRes.sucess===true){
                            e.target.reset()
                            dialog_background.innerHTML=appreciation_dialog
                            submit_btn.innerHTML=notDisabled
                        }else{
                            error.innerText="Transaction not complete"
                        submit_btn.innerHTML=tryAgain
                        }
                    }
                } catch (error) {
                    submit_btn.innerHTML=notDisabled
                    console.log(error.message)
                    error.innerText=error.message
                }
            }

            document.getElementById("dialog_background").addEventListener("dblclick",()=>closeDialog())
            function closeDialog() {
                console.log("disappear")
                dialog_background.innerHTML=""
            }
        </script>
    </body>
</html>
